* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --BackgroundColor: hsl(230, 17%, 14%);
  --TopPatternBackgroundColor: hsl(232, 19%, 15%);
  --CardBGColor: hsl(228, 28%, 20%);
  --SecondaryTextColor: hsl(228, 34%, 66%);
  --PrimaryTextColor: hsl(0, 0%, 100%);
}

[data-theme="light"] {
  --BackgroundColor: hsl(0, 0%, 100%);
  --TopPatternBackgroundColor: hsl(225, 100%, 98%);
  --CardBGColor: hsl(227, 47%, 96%);
  --SecondaryTextColor: hsl(228, 12%, 44%);
  --PrimaryTextColor: hsl(230, 17%, 14%);
  --ToggleLight: hsl(230, 22%, 74%);
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-size: 14px;
  background-color: var(--BackgroundColor);
}

img {
  max-width: 100%;
}

.header {
  background-color: var(--TopPatternBackgroundColor);
  padding: 2.3em 2em;
  padding-bottom: 6em;
  border-radius: 0 0 1.5em 1.5em;
}

.header > h1 {
  color: var(--PrimaryTextColor);
  font-size: 1.5rem;
  margin-bottom: 0.2em;
}

.header > p {
  color: var(--SecondaryTextColor);
  font-weight: 700;
}

hr {
  border: 1px solid var(--SecondaryTextColor);
  margin: 1.5em 0;
  opacity: 0.1;
}

.theme-toggle {
  border-radius: 2em;
  width: 50px;
  height: 25px;
}

.circle {
  border-radius: 50%;
  background-color: var(--BackgroundColor);
  height: 20px;
  width: 20px;
  position: relative;
  top: 0.2em;
  left: 0.2em;
}

.toggleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggleContainer > p {
  color: var(--SecondaryTextColor);
  font-weight: 700;
}

.cardsContainer {
  padding: 0 2em;
}

.followersCard {
  background-color: var(--CardBGColor);
  border-radius: 0.3em;
  padding: 2em 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-top: 4px solid transparent;
  margin-bottom: 2em;
  cursor: pointer;
}

.followersCard:hover,
.overviewCard:hover {
  opacity: 0.7;
}

.distorted {
  transform: translateY(-40px);
}

.usernameContainer {
  display: flex;
  align-items: center;
  margin-bottom: 1.1em;
}

.usernameContainer > .imgContainer {
  margin-right: 0.7em;
}

.usernameContainer > p {
  color: var(--SecondaryTextColor);
  font-weight: 700;
  font-size: 0.8rem;
}

.followersCard > h1 {
  font-size: 3.6rem;
  color: var(--PrimaryTextColor);
}

.followersCard > p {
  color: var(--SecondaryTextColor);
  font-weight: 400;
  letter-spacing: 0.4em;
  font-size: 0.8rem;
  text-transform: uppercase;
}

.ratingContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2em;
}

.ratingContainer > p {
  font-size: 0.8rem;
  font-weight: 700;
}

.updownIconContainer {
  margin-right: 0.5em;
}

.updownIconContainer > img {
  vertical-align: middle;
}

.overviewTitle {
  color: var(--PrimaryTextColor);
  margin-left: 1.2em;
  font-size: 1.5rem;
  margin-top: -2rem;
  margin-bottom: 2rem;
}

.overviewCard {
  background-color: var(--CardBGColor);
  border-radius: 0.3em;
  padding: 1.5em;
  margin-bottom: 1em;
  cursor: pointer;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading > p {
  color: var(--SecondaryTextColor);
  font-weight: 700;
}

.overviewContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
}

.overviewContent > h1 {
  font-size: 1.8rem;
  color: var(--PrimaryTextColor);
}

.overviewContent > .ratingContainer {
  margin: 0;
  align-self: last baseline;
}

@media screen and (min-width: 750px) {
  .cardsContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.4em;
  }

  .header {
    border-radius: 0;
  }

  hr {
    display: none;
  }

  .toggleContainer {
    justify-content: flex-end;
    transform: translateY(-35px);
  }

  .toggleContainer > p {
    margin-right: 1em;
  }

  .header {
    padding: 2.3em 10em;
    padding-bottom: 6em;
  }

  .distorted {
    transform: translateY(-80px);
  }

  .cardsContainer {
    padding: 2em 10em;
  }

  .overviewTitle {
    margin-left: 6em;
    margin-top: -3.5em;
  }
}
